.content {
    width: 1200px;
    margin: 0 auto;
}
#stackChart{
    width: 800px;
    height: 600px;
    float: right;
}
#needChart,
#giveChart{
    width: 400px;
    height: 300px;
    float: left;
}

#jumpLineChart,
#barLineChart,
#colorMapChart,
#pointMapChart,
#doubleLineChart{
    width: 1200px;
    height: 600px;
}
.clear{
    clear: both;
}