.content {
    width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/* ////////////////////////////////////// */

/**数据查询**/

.data_body {
    background: #fff;
}

.pagebox {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.datamain {
    position: relative;
    width: 85%;
    margin: 0 auto;
}

.trades {
    float: left;
}

#mainStr,
#mainsibl,
#newpredbox {
    height: 700px;
    position: relative;
}

#mainStr,
#newpredbox {
    display: none;
}

#pie {
    position: absolute;
    z-index: 40;
    width: 300px;
    height: 700px !important;
}

/**macrograhpy 宏观**/

.macrogfp,
.macroopi {
    position: relative;
    height: 680px;
    margin-top: 24px;
}

.macroenergy {
    width: 100%;
    height: 164px;
    box-sizing: border-box;
    position: relative;
}

.macrotreeleft {
    float: left;
    height: 570px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #d2dae6;
    top: 42px;
    left: 0;
    display: none;
}

.macro_gfp_background {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.macro_opi_background {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#macro_energy_ratio_wrap {
    width: 100%;
    height: 410px;
    overflow: auto;
}

.macro_gfp_ratio,
.macro_energy_ratio,
.macro_opi_ratio {
    float: left;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.macro_gfp_data,
.macro_opi_data {
    float: left;
    width: 74%;
    height: 100%;
    box-sizing: border-box;
}

.macro_gfp_detailbox,
.macro_opi_detailbox {
    position: absolute;
    width: 76%;
    padding: 0 7%;
    height: 86%;
    box-sizing: border-box;
    top: 7%;
    right: 0;
    display: none;
    z-index: 300;
}

.macro_gfp_detail,
.macro_opi_detail {
    width: 100%;
    height: 80%;
    top: 10%;
    border: 1px solid #b4b4b3;
    box-shadow: 0 0 2px #fff;
    background: #fff;
}

.close_detail {
    position: absolute;
    top: 13%;
    right: 13%;
    cursor: pointer;
    background: url(./../img/wicon.png) no-repeat;
    width: 24px;
    height: 24px;
    background-position: 0 -638px;
}

.macro_energy_data {
    width: 100%;
    height: 533px;
    box-sizing: border-box;
}

.macro_energy_ratio {
    width: 1503px;
    height: 410px;
    box-sizing: border-box;
}

.timeCon {
    height: 40px;
}

.mouseOverTime {
    line-height: 14px;
    text-align: center;
    opacity: 0.8;
    color: #fff;
    font-size: 16px;
    display: none;
    z-index: 30;
    padding: 8px 14px;
    background-color: rgba(212, 211, 211, 0.08);
    border-radius: 6px;
    width: 100px;
    float: right;
    margin-right: 50px;
    margin-top: 5px;
}

.treetitle,
.treefoot,
.macrotreeleft {
    background: #1d1f2c;
    position: absolute;
    z-index: 20;
    width: 25%;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #ffff;
    border-right: 1px solid #ffff;
}

.treetitle {
    padding: 0 20px;
    height: 34px;
    background: #595b66;
    color: #fff;
    font-size: 16px;
    line-height: 34px;
    position: absolute;
    cursor: pointer;
    border: 1px solid #595b66;
    width: 25%;
    border-radius: 10px;
}

.treebubble {
    display: block;
    width: 36px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    background: #7c7e8b;
    position: absolute;
    right: 6px;
    top: 6px;
    text-align: center;
    border-radius: 10px;
}

.treefoot {
    bottom: 10px;
    left: 0;
    right: 0;
    height: 60px;
    text-align: center;
    line-height: 20px;
    display: none;
}

.datatypebox {
    float: right;
    height: 32px;
    overflow: hidden;
    z-index: 30;
    margin-right: 320px;
}

.datatypebox1 {
    margin-left: -60px;
    display: none;
}

.datatypebox li {
    float: left;
    padding: 0 6px;
    height: 24px;
    line-height: 24px;
    color: #111;
    cursor: pointer;
    font-size: 12px;
    color: #aaabaf;
    background: #28282d;
    margin-right: 12px;
}

.datatypebox li.active {
    color: #00ffff;
}

.setyaxis,
.setyaxisopi {
    display: none;
    position: absolute;
    top: 6px;
    right: 28px;
    z-index: 10;
    color: #aaabaf;
    font-size: 13px;
}

#legendbox,
#legendboxopi {
    width: 80%;
    margin: 0 auto;
}

.legenddl {
    width: 20%;
    float: left;
    padding: 6px 10px;
}

.legenddl dt,
.legenddl dd {
    color: #ddd;
    overflow: hidden;
}

.legenddl dt {
    font-size: 14px;
    height: 24px;
}

.legenddl dd {
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

.legenddl span {
    display: block;
    width: 14px;
    height: 14px;
    background: #aa5;
    float: left;
    margin-right: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.legenddl .legendhide span {
    border: 1px solid #000;
    box-sizing: border-box;
}

.legenddl .legendhide {
    color: #db2323;
}

/* 左右轴 */

.outindexcontent {
    width: 300px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: 1px solid #838383;
    z-index: 10;
    font-size: 14px;
    display: none;
}

.outindexcontent .title,
.outindexcontent .foot {
    text-align: center;
    height: 24px;
    line-height: 24px;
    color: #fff;
    overflow: hidden;
}

.outindexcontent .title {
    display: none;
}

.outindexcontent .foot {
    background: #1D1F2C;
}

.outindexcontent .subtitle {
    background: #434552;
    color: #ffffff;
}

.outindexcontent li,
.outindexcontent .subtitle {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}

.outindexcontent li:nth-child(2n) {
    background: #eef1f4;
}

.outindexcontent li div,
.outindexcontent .subtitle div {
    width: 28%;
    text-align: center;
    float: left;
    overflow: hidden;
    height: 100%;
}

.outindexcontent li div:nth-child(1),
.outindexcontent .subtitle div:nth-child(1) {
    width: 40%;
}

.macro_gfp_background .outindexcontent,
.macro_opi_background .outindexcontent {
    width: 300px;
}

.outindexcontent .foot a {
    display: block;
    height: 24px;
    line-height: 24px;
    background: #434552;
    border: 1px solid #434552;
    text-align: center;
}

.outindexcontent ul li {
    background: #1D1F2C;
    color: #FFFFFF;
}

.outindexcontent ul li:nth-child(2n) {
    background: #242635;
}